:root {
  --white: #ffffff;
  --snow: #fafafa;
  --white-smoke: #f5f4f4;
  --zircon: #eceded;
  --forget-me-not: #fcf1e0;
  --carrot-orange: #fd9222;
  --cinnabar: #e74a3b;
  --matterhorn: #4c4c4c;
  --eclipse: #404040;
  --blackcurrant: #1e1823;
  --black: #111111;
}

/* ============ RESET STYLES ============ */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background-color: var(--snow);
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ============ COMMON STYLES ============ */

/* ============ HEADER STYLES ============ */

/* ============ HERO STYLES ============ */

/* ============ FEATURES STYLES ============ */

/* ============ INGREDIENTS STYLES ============ */

/* ============ COOKING STYLES ============ */

/* ============ PRODUCTS STYLES ============ */

/* ============ BESTSELLERS STYLES ============ */

/* ============ REVIEWS STYLES ============ */

/* ============ FOOTER STYLES ============ */

/* ============ MODAL STYLES ============ */

/* ============ MOBILE MENU STYLES ============ */
